.re-search-hidden {
    opacity: 0;
    pointer-events: none;
    z-index: -1;
}

.re-search-toolbar {
    height: 60px;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    z-index: 14000000;
}

.re-search-button {
    background: none;
    border: 1px solid #73D791;
    font-weight: 700;
    height: 39px;
    margin-left: 5px;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    top: -14px;
    transition: opacity 0.3s ease;
    white-space: nowrap;
}

.re-search-share-icon,
.re-search-share-button,
.re-search-share-linkedin,
.re-search-share-facebook,
.re-search-share-twitter {
    transition: opacity 0.3s ease;
}

.re-search-button:hover {
    cursor: pointer;
}

.re-search-toolbar a,
.re-search-toolbar a:link,
.re-search-toolbar a:visited,
.re-search-toolbar a:active {
    border-bottom: 1px solid #73D791;
    color: #000;
    text-decoration: none;
    transition: color 0.3s ease;
}

.re-search-toolbar a:hover {
    color: #73D791;
}

.re-search-logo-wrapper {
    background-color: #73D791;
    display: inline-block;
    height: 60px;
    text-align: center;
    width: 60px;
}

.re-search-logo-wrapper img {
    margin-top: 10px;
    width: 30px;
}

.re-search-select {
    background: none;
    border: 1px solid #73D791;
    border-radius: 0;
    font-weight: 700;
    height: 39px;
    margin-left: 67px;
    padding: 10px 20px;
    position: relative;
    top: -14px;
    width: 183px;
}

.re-search-select:hover {
    cursor: pointer;
}

.re-search-tip-button {
    left: 310px;
    position: absolute;
    top: 10px;
}

.re-search-approved-tip-text {
    display: inline-block;
    left: 320px;
    position: absolute;
    top: 21px;
}

.re-search-tip-text {
    display: inline-block;
    position: relative;
    white-space: nowrap;
    margin: 0 20px;
    top: -14px;
}

.re-search-tip-term {
    display: inline-block;
    font-weight: 700;
    max-width: 260px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    top: 3px;
}

.re-search-share-wrapper {
    height: 39px;
    position: absolute;
    right: 220px;
    top: 20px;
}

.re-search-share-button {
    position: absolute;
    right: 0;
}

.re-search-share-button:hover {
    cursor: pointer;
}

a:link.re-search-share-twitter,
a:link.re-search-share-facebook,
a:link.re-search-share-linkedin {
    border: 0;
    margin-left: 10px;
    position: relative;
    top: -7px;
}

.re-search-share-icon {
    height: 32px;
    width: 32px;
}

.re-search-read-more-button {
    float: right;
    margin-right: 15px;
    position: relative;
    top: 20px;
}

.re-search-on-off-toggle {
    background-color: #ccc;
    float: right;
    margin-right: 15px;
    padding: 5px 0;
    position: relative;
    transition: background-color 0.3s ease;
    top: 15px;
}

.re-search-on-off-toggle.active {
    background-color: #73D791;
}

.re-search-on-off-toggle.active .re-search-on-off-paddle {
    left: 29px;
}

.re-search-on-off-paddle {
    background-color: #fff;
    bottom: 2px;
    left: 2px;
    position: absolute;
    top: 2px;
    transition: all 0.3s ease;
    width: calc( 50% - 4px );
    z-index: 2;
}

.re-search-on-off-paddle:hover {
    cursor: pointer;
}

a.re-search-on-off-text {
    border: 0 !important;
    padding: 5px;
    position: relative;
    z-index: 1;
}

a.re-search-on-off-text:hover {
    color: #000;
    cursor: pointer;
}

a.re-search-on-text,
a:link.re-search-on-text,
a:active.re-search-on-text,
a:hover.re-search-on-text {
    color: #fff !important;
}

a.re-search-hide-button {
    border: 0;
    color: #73D791;
    float: right;
    font-size: 50px;
    font-weight: 100;
    margin-right: 15px;
    position: relative;
    top: -3px;
}

a.re-search-hide-button:hover {
    border: 0;
    cursor: pointer;
}

.re-search-hide-button img {
    height: 32px;
    width: 32px;
}
